In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [6]:
df = spark.read.json('./sample_data/people.json')

In [7]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [12]:
age = df['age']
print age

Column<age>

In [14]:
age = df.select(df['age'])
print age

DataFrame[age: bigint]

In [15]:
age.show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [16]:
# check first two rows
df.head(2)

[Row(age=None, name=u'Michael'), Row(age=30, name=u'Andy')]

In [21]:
df.head(2)[0]

Row(age=None, name=u'Michael')

In [19]:
# selecting multiple cols
df.select(["age", 'name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [22]:
# ADD NEW COLO
df.withColumn('newage', df['age']).show()

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    30|
|  19| Justin|    19|
+----+-------+------+

In [23]:
# same but math on coloum
df.withColumn('newage', df['age']/2).show()

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|  15.0|
|  19| Justin|   9.5|
+----+-------+------+

In [35]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [36]:
# change col name
df.withColumnRenamed('age', 'new_age').show()

+-------+-------+
|new_age|   name|
+-------+-------+
|   null|Michael|
|     30|   Andy|
|     19| Justin|
+-------+-------+

In [41]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+